<div class="inbox-container">
  <div class="tool-box">
    <button mat-button color="primary" (click)="openDialog()">
      <i class="fa fa-plus"></i>&nbsp; New
    </button>
  </div>
  <div class="messages">
    <div *ngFor="let message of messages" class="message">
      <div class="user-info">
        <span class="sender">{{message.sender | titlecase}}</span> <span class="timestamp">{{message.timestamp | date }}</span>
      </div>
      <div class="msg-content">
        <p class="content">{{message.message}}
          <span (click)="onDelete(message.id)"><i class="fa fa-trash-o fa-2x hand"></i></span></p>
      </div>
    </div>
  </div>
</div>
