body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
mat-form-field {
  width: 100%;
}

.b-h-m {
  height: 40px;
}
.action-panel{
  display: flex;
  flex-direction: row-reverse;
}

/**/
